{% extends 'base.html' %}
{% block b1 %}
{%load static%}
<div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ u.bio.profile_pic.url  }}">
        <div class="media-body">
          <h2 class="account-heading">{{ u.username }}</h2>
          <p class="text-secondary">{{ u.email }}</p>
        </div>
      </div>
      <div class="row">
<div class="col-sm-6" >
<h4><a href="{%url 'followers' pk=u.id%}" style="color:#fab107">Followers</a></h4><br>
<h5 class="text-left">{{followers}}</h5>
</div>
<div class="col-sm-6">
<h4><a href="{%url 'app:following' pk=u.id%} " style="color:#fab107">Following</a></h4><br>
<h5 class="text-left">{{following}}</h5>

</div>
</div>
<a href="{% url 'app:accept' pk=object.id%}" class="btn" id='login-submit'>Accept</a>
<a href="{% url 'app:reject' pk=object.id%}" class="btn" id='login-submit'>Reject</a>
{% endblock %}
