{% extends 'base.html' %}
{% block b1 %}
{%load static%}
{% if user.bio %}
<div class="container-fluid" width='100%'>

<div class="row">
<div class="col-lg-12">

<div class="container-fluid" id="bio-outer">
  <div class="row">
<div class="col-md-5">
<h1 class="text-center">{{user.username}}</h1>
</div>
  </div>
<div class="row">
<div class="col-md-6">
  {%if user.bio.profile_pic%}
<img src="{{user.bio.profile_pic.url}}" id="pic" height="80%"/>
{%else%}
<h4>No Profile pic</h4>
{% endif %}
<div class="row">
<div class="col-sm-6" >
<h4><a href="{%url 'followers' pk=user.id%}" style="color:#fab107">Followers</a></h4><br>
<h5 class="text-center">{{followers}}</h5>
</div>
<div class="col-sm-6">
<h4><a href="{%url 'app:following' pk=user.id%} " style="color:#fab107">Following</a></h4><br>
<h5 class="text-center">{{following}}</h5>

</div>
</div>
</div>
<div class="col-md-6">
<div class="bio_text">
{{user.bio.text}}
</div>
</div>
</div>
<br>
    </div>
        </div>
      <img src="{% static 'like.jpeg'%}" id='like'height="90%" width="65%"/>
    </div>
</div>
{% else %}
<div class="container-fluid" width='100%'>

<div class="row">
<div class="col-lg-12">

<div class="container-fluid" id="bio-outer">
  <div class="row">
<div class="col-md-5">
<h1 class="text-center">{{user.username}}</h1>
</div>
  </div>
<div class="row">
<div class="col-md-6">
<h4>No Profile pic</h4>
<div class="row">
<div class="col-sm-6" >
<h4><a href="{%url 'followers' pk=user.id%} " style="color:#fab107">Followers</a></h4><br>
<h5 class="text-center">{{followers}}</h5>
</div>
<div class="col-sm-6">
<h4><a href="{%url 'app:following' pk=user.id%} " style="color:#fab107">Following</a></h4><br>
<h5 class="text-center">{{following}}</h5>

</div>
</div>
</div>
<div class="col-md-6">
<div class="bio_text">
No Bio information
</div>
</div>
</div>
<br>
    </div>
        </div>
      <img src="{% static 'like.jpeg'%}" id='like'height="90%" width="65%"/>
    </div>
</div>
{% endif %}
{% if not f and user.id is not self.id %}
<a href="{% url 'app:follow' pk=user.id%}" class="btn" id='login-submit'>Follow</a>
{% else %}
<h4><a href="{% url 'app:posts' pk=user.id%}" class="btn" id='login-submit'>Posts</a></h4>
{% endif %}
{% endblock %}
